################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/StyleCop.Analyzers.1.1.118
/Events/obj
/Events/bin
